# Lectura y muestra (20 primeras filas) del archivo

In [1]:
import pandas as pd

# Lectura del archivo
df = pd.read_csv('fifa_eda.csv')

# Primeras 20 filas
df.head(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0

# Programa anterior

In [2]:
# Código anterior
import numpy as np

# Transformación de la columna de contrato
years = []
for year in df["Contract Valid Until"]:
    if type(year) == str: years.append(int(year[:4])) # Es un valor entero
    else: years.append('nan') # Es float (nan)

from statistics import mode
most_common_year = mode(years) # Año más frecuente

for i in range(len(years)):
    if years[i] == 'nan': # Iteramos la lista por índice y si el valor es nan se asigna el año más frecuente
        years[i] = most_common_year

# Cambiamos los valores del dataset
df['Contract Valid Until'] = np.array(years)
df['Contract Valid Until'].astype('int64') # Los volvemos numéricos de tipo int64

# Nueva columna
current_year = 2024
df["Years Playing"] = current_year - df["Joined"]

# Jugadores de México
mexico_players = df.loc[df['Nationality'] == 'Mexico']

# Ordenados por Release Clause
sorted_release_clause = df.sort_values(by='Release Clause')

# Jugadores por año en que se unieron
new_dataset = df.groupby("Joined").size().rename('Num. Jugadores').reset_index()

# Media, mínimo y máximo de algunas columnas (total)

In [3]:
# Columna Age
print(f"Edad media = {df['Age'].mean()}")
print(f"Edad mínima = {df['Age'].min()}")
print(f"Edad máxima = {df['Age'].max()}\n")

# Columna Overall
print(f"Overall medio = {df['Overall'].mean()}")
print(f"Overall mínimo = {df['Overall'].min()}")
print(f"Overall máximo = {df['Overall'].max()}\n")

# Columna Potential
print(f"Potencial medio = {df['Potential'].mean()}")
print(f"Potencial mínimo = {df['Potential'].min()}")
print(f"Potencial máximo = {df['Potential'].max()}")

Edad media = 25.122205745043114
Edad mínima = 16
Edad máxima = 45

Overall medio = 66.23869940132916
Overall mínimo = 46
Overall máximo = 94

Potencial medio = 71.30729939034437
Potencial mínimo = 48
Potencial máximo = 95

# Media, mínimo y máximo de las mismas columnas agrupadas por país

In [4]:
functions = [np.mean, min, max] # Usaré el comando agg para definir varias funciones a las mismas columnas

df.groupby('Nationality').agg({ # Agrupamos por país y agrego funciones a columnas con un diccionario
    'Age': functions, # Sacar media, mínimo y máximo para Age
    'Overall': functions, # Sacar media, mínimo y máximo para Overall
    'Potential': functions # Sacar media, mínimo y máximo para Potential
}).sample(15) # Obtener una muestra aleatoria de 15 países

                          Age            Overall          Potential
                         mean min max       mean min max       mean min max
Nationality
Estonia             27.153846  21  33  64.923077  61  77  67.769231  61  77
Ghana               23.657895  17  33  67.043860  51  82  73.087719  61  88
FYR Macedonia       25.100000  18  34  68.000000  50  77  72.500000  63  83
Bulgaria            26.843750  21  35  64.875000  56  76  67.406250  57  77
Senegal             25.361538  18  35  68.615385  51  87  72.923077  60  90
Slovenia            26.472727  18  35  69.527273  56  90  72.745455  62  93
Kosovo              23.454545  19  32  66.030303  53  76  72.272727  59  83
Antigua & Barbuda   22.750000  20  27  62.500000  58  69  67.750000  63  77
Burundi             23.333333  18  28  62.333333  51  71  69.333333  65  76
Gabon               26.066667  21  35  69.466667  58  88  72.266667  59  88
Guam                30.000000  30  30  67.000000  67  67  67.000000  67  67
Dominican Republic  23.000000  22  24  72.000000  64  80  80.500000  76  85
Guinea Bissau       23.133333  18  29  67.266667  58  76  73.133333  67  85
Uganda              23.833333  19  30  62.500000  54  70  68.333333  64  74
Albania             24.025000  18  34  65.925000  52  81  71.700000  62  86

# Jugadores ficticios

In [5]:
players = [(123456, 'A. Rodríguez', 19, 'Mexico', 93, 92, 'Manchester City', 55250.0, 300.0, "Right", 4.0, 3.9, 'ST', 2022, 2032, 5.67, 160.0, 113250.0, 2),
          (234567, 'B. Johnson', 20, 'Canada', 92, 91, 'Manchester United', 55200.0, 290.0, 'Left', 3.9, 3.8, 'LW', 2021, 2033, 5.68, 165.0, 125000.0, 3)]

df2 = pd.DataFrame(players, columns=['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential',
                                    'Club', 'Value', 'Wage', 'Preferred Foot', 'International Reputation',
                                    'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height',
                                    'Weight', 'Release Clause', 'Years Playing'])
df2

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Years Playing
0,123456,A. Rodríguez,19,Mexico,93,92,Manchester City,55250.0,300.0,Right,4.0,3.9,ST,2022,2032,5.67,160.0,113250.0,2
1,234567,B. Johnson,20,Canada,92,91,Manchester United,55200.0,290.0,Left,3.9,3.8,LW,2021,2033,5.68,165.0,125000.0,3

In [6]:
df = pd.concat([df, df2], ignore_index=True) # Actualizamos el dataset original y los juntamos con concat
df.tail(3) # Vemos los últimos 3 (el último del dataset original y los últimos 2 que agregamos)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Years Playing
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019,5.833333,176.0,165.0,6
18207,123456,A. Rodríguez,19,Mexico,93,92,Manchester City,55250.0,300.0,Right,4.0,3.9,ST,2022,2032,5.670000,160.0,113250.0,2
18208,234567,B. Johnson,20,Canada,92,91,Manchester United,55200.0,290.0,Left,3.9,3.8,LW,2021,2033,5.680000,165.0,125000.0,3

In [7]:
# Volvemos a sacar las estadísticas con los nuevos jugadores
# Columna Age
print(f"Nueva Edad media = {df['Age'].mean()}")
print(f"Nueva Edad mínima = {df['Age'].min()}")
print(f"Nueva Edad máxima = {df['Age'].max()}\n")

# Columna Overall
print(f"Nuevo Overall medio = {df['Overall'].mean()}")
print(f"Nuevo Overall mínimo = {df['Overall'].min()}")
print(f"Nuevo Overall máximo = {df['Overall'].max()}\n")

# Columna Potential
print(f"Nuevo Potencial medio = {df['Potential'].mean()}")
print(f"Nuevo Potencial mínimo = {df['Potential'].min()}")
print(f"Nuevo Potencial máximo = {df['Potential'].max()}")

Nueva Edad media = 25.121588225602725
Nueva Edad mínima = 16
Nueva Edad máxima = 45

Nuevo Overall medio = 66.2415838321709
Nuevo Overall mínimo = 46
Nuevo Overall máximo = 94

Nuevo Potencial medio = 71.30951727167884
Nuevo Potencial mínimo = 48
Nuevo Potencial máximo = 95

In [8]:
# Comparación
print(f"Edad media = (Anterior: {df.drop([18207, 18208], axis=0)['Age'].mean()} | Nuevo: {df['Age'].mean()})")
print(f"Edad mínima = (Anterior: {df.drop([18207, 18208], axis=0)['Age'].min()} | Nuevo: {df['Age'].min()})")
print(f"Edad máxima = (Anterior: {df.drop([18207, 18208], axis=0)['Age'].max()} | Nuevo: {df['Age'].max()})\n")

# Columna Overall
print(f"Overall medio = (Anterior: {df.drop([18207, 18208], axis=0)['Overall'].mean()} | Nuevo: {df['Overall'].mean()})")
print(f"Overall mínimo = (Anterior: {df.drop([18207, 18208], axis=0)['Overall'].min()} | Nuevo: {df['Overall'].min()})")
print(f"Overall máximo = (Anterior: {df.drop([18207, 18208], axis=0)['Overall'].max()} | Nuevo: {df['Overall'].max()})\n")

# Columna Potential
print(f"Potencial medio = (Anterior: {df.drop([18207, 18208], axis=0)['Potential'].mean()} | Nuevo: {df['Potential'].mean()})")
print(f"Potencial mínimo = (Anterior: {df.drop([18207, 18208], axis=0)['Potential'].min()} | Nuevo: {df['Potential'].min()})")
print(f"Potencial máximo = (Anterior: {df.drop([18207, 18208], axis=0)['Potential'].max()} | Nuevo: {df['Potential'].max()})\n")

Edad media = (Anterior: 25.122205745043114 | Nuevo: 25.121588225602725)
Edad mínima = (Anterior: 16 | Nuevo: 16)
Edad máxima = (Anterior: 45 | Nuevo: 45)

Overall medio = (Anterior: 66.23869940132916 | Nuevo: 66.2415838321709)
Overall mínimo = (Anterior: 46 | Nuevo: 46)
Overall máximo = (Anterior: 94 | Nuevo: 94)

Potencial medio = (Anterior: 71.30729939034437 | Nuevo: 71.30951727167884)
Potencial mínimo = (Anterior: 48 | Nuevo: 48)
Potencial máximo = (Anterior: 95 | Nuevo: 95)

In [9]:
# Por país
functions = [np.mean, min, max] # Usaré el comando agg para definir varias funciones a las mismas columnas

df.groupby('Nationality').agg({ # Agrupamos por país y agrego funciones a columnas con un diccionario
    'Age': functions, # Sacar media, mínimo y máximo para Age
    'Overall': functions, # Sacar media, mínimo y máximo para Overall
    'Potential': functions # Sacar media, mínimo y máximo para Potential
}).sample(15) # Obtener una muestra aleatoria de 15 países

                            Age            Overall          Potential
                           mean min max       mean min max       mean min max
Nationality
DR Congo              25.750000  19  32  69.211538  56  82  72.384615  61  83
Senegal               25.361538  18  35  68.615385  51  87  72.923077  60  90
Niger                 24.666667  21  29  62.333333  54  67  66.666667  63  71
São Tomé & Príncipe   31.000000  31  31  72.000000  72  72  72.000000  72  72
Jamaica               28.125000  19  35  66.625000  53  81  68.718750  60  89
Sudan                 26.333333  23  32  62.666667  60  65  66.000000  60  72
Kenya                 24.800000  19  33  65.400000  56  80  70.300000  63  82
Curacao               25.357143  19  29  67.571429  59  74  70.285714  65  76
Afghanistan           22.500000  20  26  61.000000  59  63  67.750000  64  71
Haiti                 23.900000  20  30  63.400000  52  73  69.900000  60  78
Egypt                 26.967742  20  34  70.225806  62  88  72.645161  66  89
Mauritania            23.000000  20  26  64.500000  62  67  70.000000  66  74
Morocco               25.894118  18  36  69.941176  52  86  73.317647  58  86
Zambia                22.222222  18  29  65.222222  56  73  73.777778  66  83
Central African Rep.  25.666667  25  27  73.333333  68  82  76.000000  71  85

# Zona horaria y capital del país de nacionalidad

In [10]:
!pip install countryinfo

Requirement already satisfied: countryinfo in /Users/memobarbosa/anaconda3/lib/python3.11/site-packages (0.1.2)

In [11]:
from countryinfo import CountryInfo
import pytz

# Usaré la columna nacionalidad, pero son los nombres de países completos, lo que puede provocar un error
df['Nationality'].value_counts()

Nationality
England                 1662
Germany                 1198
Spain                   1072
Argentina                937
France                   914
                        ...
New Caledonia              1
Fiji                       1
São Tomé & Príncipe        1
United Arab Emirates       1
Botswana                   1
Name: count, Length: 164, dtype: int64

In [12]:
# Debo cambiar el nombre de algunos países
df.replace('Bosnia Herzegovina', 'Bosnia and Herzegovina', inplace=True)
df.replace('Korea Republic', 'South Korea', inplace=True)
df.replace('Central African Rep.', 'Central African Republic', inplace=True)
df.replace('FYR Macedonia', 'Republic of Macedonia', inplace=True)
df.replace('China PR', 'China', inplace=True)
df.replace('Guinea Bissau', 'Guinea-Bissau', inplace=True)
df.replace('Congo', 'Republic of the Congo', inplace=True)
df.replace('Trinidad & Tobago', 'Trinidad and Tobago', inplace=True)
df.replace('São Tomé & Príncipe', 'São Tomé and Príncipe', inplace=True)
df.replace('Korea DPR', 'North Korea', inplace=True)
df.replace('St Kitts Nevis', 'Saint Kitts and Nevis', inplace=True)
df.replace('Antigua & Barbuda', 'Antigua and Barbuda', inplace=True)
df.replace('St Lucia', 'Saint Lucia', inplace=True)

In [15]:
# Primero necesito el código del país
# Para países que no estén en CountryInfo investigué los datos adicionales (capital y zona horaria).
def CountryData(country='England', value='iso'):
    countries = {
        'Montenegro': {'iso': 'ME', 'capital': 'Podgorica', 'timezone': pytz.country_timezones['ME']},
        'China': {'iso': 'CN', 'capital': 'Beijing', 'timezone': pytz.country_timezones['CN']},
        'Kosovo': {'iso': 'XK', 'capital': 'Pristina', 'timezone': pytz.country_timezones['BA']},
        'Gambia': {'iso': 'GM', 'capital': 'Banjul', 'timezone': pytz.country_timezones['GM']},
        'Curacao': {'iso': 'CW', 'capital': 'Willemstad', 'timezone': pytz.country_timezones['CW']},
        'Palestine': {'iso': 'PS', 'capital': 'Ramallah', 'timezone': pytz.country_timezones['PS']},
        'Andorra': {'iso': 'AD', 'capital': 'Andorra la Vella', 'timezone': pytz.country_timezones['AD']},
        'England': {'iso': 'GB-ENG', 'capital': 'London', 'timezone': pytz.country_timezones['GB']},
        'Scotland': {'iso': 'GB-SCT', 'capital': 'Edinburgh', 'timezone': pytz.country_timezones['GB']},
        'Wales': {'iso': 'GB-WLS', 'capital': 'Cardiff', 'timezone': pytz.country_timezones['GB']},
        'Northern Ireland': {'iso': 'GB-NIR', 'capital': 'Belfast', 'timezone': pytz.country_timezones['GB']}
    }
    return countries[country][value]

In [17]:
def GetCountry(code='GB-ENG'):
    codes = {
        'ME': 'Montenegro',
        'CN': 'China',
        'XK': 'Kosovo',
        'GM': 'Gambia',
        'CW': 'Curacao',
        'PS': 'Palestine',
        'AD': 'Andorra',
        'GB-ENG': 'England',
        'GB-SCT': 'Scotland',
        'GB-WLS': 'Wales',
        'GB-NIR': 'Northern Ireland'
    }; return codes[code]

In [18]:
# Países que no están en CountryInfo
other_countries = ['England', 'Scotland', 'Wales', 'Northern Ireland', # de UK
                   'Montenegro', 'China', 'Kosovo', 'Gambia', 'Curacao', 'Palestine', 'Andorra'] # no de UK
other_countries_codes = ['GB-ENG', 'GB-SCT', 'GB-WLS', 'GB-NIR', # de UK
                        'ME', 'CN', 'XK', 'GM', 'CW', 'PS', 'AD'] # no de UK
# Código ISO
df['Country Code'] = df['Nationality'].apply(lambda x:
                                             CountryInfo(x).info()['ISO']['alpha2'] if x not in other_countries else CountryData(country=x, value='iso'))
# Zona horaria
df['Time Zone'] = df['Country Code'].apply(lambda x:
                                           pytz.country_timezones[x] if x not in other_countries_codes else CountryData(country=GetCountry(code=x), value='timezone'))
# Capital
df['Capital'] = df['Nationality'].apply(lambda x:
                                        CountryInfo(x).capital() if x not in other_countries else CountryData(country=x, value='capital'))
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Years Playing,Country Code,Time Zone,Capital
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,RF,2004,2021,5.583333,159.0,226500.0,20,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Buenos Aires
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,ST,2018,2022,6.166667,183.0,127100.0,6,PT,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Lisbon
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,LW,2017,2022,5.750000,150.0,228100.0,7,BR,"[America/Noronha, America/Belem, America/Forta...",Brasília
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,GK,2011,2020,6.333333,168.0,138600.0,13,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Madrid
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,RCM,2015,2023,5.916667,154.0,196400.0,9,BE,[Europe/Brussels],Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,...,ST,2017,2021,5.666667,148.0,165.0,7,GB-ENG,[Europe/London],London
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,...,RW,2018,2019,5.833333,154.0,143.0,6,GB-ENG,[Europe/London],London
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,...,CM,2018,2019,5.833333,176.0,165.0,6,GB-ENG,[Europe/London],London
18207,123456,A. Rodríguez,19,Mexico,93,92,Manchester City,55250.0,300.0,Right,...,ST,2022,2032,5.670000,160.0,113250.0,2,MX,"[America/Mexico_City, America/Cancun, America/...",Mexico City
18208,234567,B. Johnson,20,Canada,92,91,Manchester United,55200.0,290.0,Left,...,LW,2021,2033,5.680000,165.0,125000.0,3,CA,"[America/St_Johns, America/Halifax, America/Gl...",Ottawa

# Candidatos al balón de oro

In [19]:
# Jugadores con potencial > 85 son candidatos al balón de oro
df['Candidate'] = df['Potential'].apply(lambda x: 'Yes' if x > 85 else 'No')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Joined,Contract Valid Until,Height,Weight,Release Clause,Years Playing,Country Code,Time Zone,Capital,Candidate
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,2004,2021,5.583333,159.0,226500.0,20,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Buenos Aires,Yes
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,2018,2022,6.166667,183.0,127100.0,6,PT,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Lisbon,Yes
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,2017,2022,5.750000,150.0,228100.0,7,BR,"[America/Noronha, America/Belem, America/Forta...",Brasília,Yes
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,2011,2020,6.333333,168.0,138600.0,13,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Madrid,Yes
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,2015,2023,5.916667,154.0,196400.0,9,BE,[Europe/Brussels],Brussels,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,...,2017,2021,5.666667,148.0,165.0,7,GB-ENG,[Europe/London],London,No
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,...,2018,2019,5.833333,154.0,143.0,6,GB-ENG,[Europe/London],London,No
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,...,2018,2019,5.833333,176.0,165.0,6,GB-ENG,[Europe/London],London,No
18207,123456,A. Rodríguez,19,Mexico,93,92,Manchester City,55250.0,300.0,Right,...,2022,2032,5.670000,160.0,113250.0,2,MX,"[America/Mexico_City, America/Cancun, America/...",Mexico City,Yes
18208,234567,B. Johnson,20,Canada,92,91,Manchester United,55200.0,290.0,Left,...,2021,2033,5.680000,165.0,125000.0,3,CA,"[America/St_Johns, America/Halifax, America/Gl...",Ottawa,Yes